$limeGreen: hsl(118, 41%, 50%);
$babyBlue: hsl(208, 100%, 50%);
$white: hsl(0, 0%, 100%);
$veryLightGray: hsl(0, 0%, 96%);
$veryLightBlue: hsl(238, 15%, 93%);
$LightBlue: hsl(238, 15%, 85%);
$red: hsl(0, 100%, 60%);
$font-xsm: 0.8125rem;
$font-sm: 0.9375rem;
$font-md: 1.125rem;
$font-lg: 1.5rem;